body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    padding: 10px;
  }

  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }

  header nav ul li a:hover{
    color:cornflowerblue;
  }
  
  .main {
    padding: 20px;
  }
  
  .hero {
    background-size: cover;
    background-color: #f9f9f9;
    text-align: center;
    padding: 100px 0;
    background: url('b.jpg');
    background-size: cover;
    height: 300px;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 28px;
    color: #191de2;
  }
  
  .cta-btn {
    display: inline-block;
    background-color: #e7350d;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
  }

  .cta-btn:hover{
    background-color: transparent;
    border: solid #e7350d 2px;
    color: #333;
  }
  
 
